.we-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
}

.we-slide:nth-child(1) {
  background-color: #4390ee;
}
.we-slide:nth-child(2) {
  background-color: #ca4040;
}
.we-slide:nth-child(3) {
  background-color: #ff8604;
}
