// @import '/style/zanui/helper.scss';

@import "./style/app.scss";

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
